/*************************
 LOGO Sizing and Placement
**************************/

.navbar-brand-container {
 
  height: 45px !important;     /* navbar height */
  width: 96px !important;
  padding: 0 !important;
  margin: 0 !important;

  
}

a.navbar-brand.navbar-brand-logo{
  
  
  height: 96px !important;     /* Ensures consistency */
  width: 96px !important;
  padding: 0 !important;
  margin: 0 !important;

  
}

.navbar-logo {
  position: fixed;
  max-height: 96px !important;
  height: 96px !important;

  padding: 0 !important;
  margin: 0 !important;

}